main {
    margin-top: 80px;
    margin-bottom: 100px;
}
.map_wrap {
    position: relative;
    margin-left: auto;
    overflow: visible;
    height: 450px;
}
#spinner {
    position: absolute;
    left: 48%;
    top: 48%;
    z-index: 100;
}

@media (max-width: 768px) {
    .map_wrap {
        position: relative;
        margin-left: auto;
        overflow: visible;
        height: 350px;
    }
}